@charset "UTF-8";

@font-face {
  font-weight: normal;
  font-family: "Open-sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Open-sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dirty-white: #f1f1f1;
  --bright-gray: #ececec;
  --grey: #797979;
  --outer-space: #444444;
  --medium-aquamarine: #63d1bb;
  --aquamarine: #56c3b2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: var(--outer-space);
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-default {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  word-break: break-all;
}

.button {
  display: block;
  min-height: 50px;
  padding: 13px 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--outer-space);
  color: inherit;
  transition: all 0.1s ease;
}

.button:active {
  color: #797979;
  background-color: var(--outer-space);
}

.title {
  margin: 0;
  color: var(--black);
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.title-sub-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  margin-bottom: 30px;
  background-color: var(--dirty-white);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav {
  background-color: var(--white);
}

.main-nav__logo-img {
  transition: 0.1s ease-in-out;
}

.main-nav__logo-link:hover .main-nav__logo-img {
  opacity: 0.6;
}

.main-nav__logo-link:active .main-nav__logo-img {
  opacity: 0.2;
}

.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 390px;
  justify-content: center;
  height: 80px;
}

.main-nav__list-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80px;
  margin: 0 auto;
  max-width: 320px;
  padding-left: 90px;
  color: var(--black);
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  transition: opacity 0.1s ease-in-out;
}

.main-nav__list-link span {
  transition: 0.1s ease-in-out;
}

.main-nav__list-link svg {
  position: absolute;
  left: 40px;
  opacity: 0.2;
}

.main-nav__list-link:hover span {
  opacity: 0.6;
}

.main-nav__list-link:hover svg {
  fill: var(--medium-aquamarine);
  opacity: 1;
}

.main-nav__list-link:active span {
  opacity: 0.3;
}

.main-nav__list-link:active svg {
  opacity: 0.3;
  fill: var(--medium-aquamarine);
}

.main-nav__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  right: 10px;
  width: 70px;
  height: 50px;
}

.main-nav__button span {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: var(--black);
}

.main-nav__button span::before,
.main-nav__button span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--black);
  transform-origin: 50% 50%;
  transition: top 0.2s 0.2s, transform 0.2s;
}

.main-nav__button span::before {
  top: 6px;
}

.main-nav__button span::after {
  top: -6px;
}

.main-nav__button--open span {
  background: 0 0;
  transition: background 0.1s ease-in-out;
}

.main-nav__button--open span::before,
.main-nav__button--open span::after {
  top: 0;
  transition: top 0.1s, transform 0.2s 0.4s;
}

.main-nav__button--open span::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav__button--open span::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

main {
  position: relative;
}

.site-intro {
  min-height: 450px;
  padding-top: 80px;
  background-image: url("../img/hero-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center -10px;
  background-size: auto 385px;
  background-color: #f9f9f9;
}

.site-intro__title {
  width: 245px;
  font-size: 27px;
  text-align: center;
  margin-bottom: 135px;
  margin-left: auto;
  margin-right: auto;
}

.site-intro__buttons {
  display: flex;
  flex-direction: column;
}

.site-intro__button {
  position: relative;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  font-size: 19px;
  font-weight: bold;
  color: var(--white);
  text-align: left;
}

.site-intro__button span {
  transition: opacity 0.1s ease-in-out;
}

.site-intro__button:hover svg {
  opacity: 0.7;
}

.site-intro__button:active span {
  opacity: 0.3;
}

.site-intro__button:active svg {
  opacity: 0.3;
}

.site-intro__button svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: 0.1s ease-in-out;
}

.site-intro__button:first-child {
  background-color: var(--medium-aquamarine);
}

.site-intro__button:first-child svg {
  right: 40px;
}

.site-intro__button:last-child {
  background-color: var(--aquamarine);
}

.site-intro__button:last-child svg {
  right: 30px;
}

.top-product {
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
}

.top-product::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}

.top-product__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.top-product__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: var(--medium-aquamarine);
  text-transform: uppercase;
  order: 1;
}

.top-product__subtitle {
  margin-bottom: 10px;
}

.top-product__about {
  margin-top: 0;
  margin-bottom: 30px;
}

.top-product__features-wrapper {
  margin-bottom: 30px;
}

.top-product__features-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bright-gray);
}

.top-product__features-definition {
  width: 40%;
}

.top-product__features-meaning {
  width: 60%;
}

.top-product__img-wrapper {
  margin-bottom: 30px;
}

.top-product__img {
  width: 100%;
}

.top-product__buy {
  display: flex;
  flex-direction: column;
}

.top-product__price {
  align-self: center;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
}

.about-us {
  padding-top: 35px;
  padding-bottom: 40px;
}

.about-us__title {
  margin-bottom: 30px;
}

.about-us__list {
  display: grid;
  row-gap: 30px;
}

.about-us__item {
  padding-top: 50px;
  color: var(--black);
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.about-us__item:nth-child(1) {
  background-image: url("../img/icon-feature-flower.svg");
  background-size: 32px 37px;
}

.about-us__item:nth-child(2) {
  background-image: url("../img/icon-feature-money.svg");
  background-size: 47px 27px;
}

.about-us__item:nth-child(3) {
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 34px 27px;
}

.about-us__item:nth-child(4) {
  background-image: url("../img/icon-feature-ball.svg");
  background-size: 35px 34px;
}

.about-us__item:nth-child(5) {
  background-image: url("../img/icon-feature-rocket.svg");
  background-size: 55px 23px;
}

.about-us__item:nth-child(6) {
  background-image: url("../img/icon-feature-gift.svg");
  background-size: 33px 32px;
}

.reviews {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}

.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}

.reviews__title {
  margin-bottom: 35px;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 30px;
}

.reviews__nickname-wrapper {
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 30px;
}

.reviews__name {
  color: var(--black);
  font-weight: bold;
}

.reviews__nickname {
  font-style: unset;
}

.reviews__buttons {
  display: flex;
  margin-bottom: 40px;
}

.reviews__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  border: 1px solid var(--bright-gray);
}

.reviews__button--prev {
  border-right: none;
}

.reviews__button svg {
  transition: 0.5s ease-in-out;
}

.reviews__button-send {
  width: 100%;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts__title {
  margin-bottom: 35px;
}

.contacts__mail {
  display: flex;
  margin-bottom: 35px;
  font-style: normal;
}

.contacts__mail span {
  width: 30%;
}

.contacts__mail a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--aquamarine);
  transition: all 0.1s ease-in-out;
}

.contacts__mail a:hover {
  color: var(--aquamarine);
}

.contacts__mail a:active {
  color: var(--aquamarine);
  opacity: 0.3;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts__address span:first-child {
  width: 30%;
}

.contacts__address span:last-child {
  width: 70%;
}

.contacts__map {
  margin-bottom: 40px;
}

.contacts__button {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.map {
  position: relative;
  min-height: 370px;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.map picture {
  justify-content: center;
  position: relative;
  z-index: -1;
}

.map__pin {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

footer {
  background-color: var(--dirty-white);
}

.footer__contacts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

.footer__contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer__contacts-link:active svg {
  opacity: 0.3;
  fill: var(--medium-aquamarine);
}

.footer__creators-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-size: 19px;
  font-weight: bold;
  color: var(--black);
  transition: opacity 0.1s ease-in-out;
}

.footer__creators-link:active {
  opacity: 0.3;
}

.footer__creators-link span {
  margin-right: 30px;
}

.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  display: grid;
  grid-row-gap: 30px;
}

.catalog__item-wrapper {
  position: relative;
  padding: 30px;
  border: 1px solid var(--bright-gray);
}

.catalog__product-img {
  width: 100%;
}

.catalog__item-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  color: var(--black);
  font-weight: bold;
}

.catalog__item-description {
  display: block;
  margin-bottom: 50px;
  font-size: 13px;
  line-height: 30px;
}

.catalog__item-price {
  display: block;
  position: relative;
  font-weight: bold;
  color: var(--black);
}

.catalog__item-price::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 1px;
  background-color: var(--dirty-white);
}

.catalog__cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 27px;
  right: 27px;
}

.catalog__cart-button svg {
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}

.catalog__cart-button:hover svg {
  opacity: 1;
  fill: var(--aquamarine);
  transform: scale(1.2);
}

.catalog__cart-button:active svg {
  opacity: 0.3;
  transform: scale(0.8);
}

.production {
  padding-bottom: 60px;
}

.production__wrapper {
  border: 1px solid var(--bright-gray);
}

.production__title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 40px 30px 90px;
  font-size: 17px;
  line-height: 24px;
  color: var(--black);
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 35px 50%;
}

.production__movie-wrapper {
  position: relative;
}

.production__movie-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.production__movie-button svg {
  transition: transform 0.1s ease-in-out;
}

.production__movie-button:active svg {
  transform: scale(0.8);
}

.production__info-wrapper {
  padding: 30px 35px;
}

.production__info-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.production__info-button {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-form {
  overflow: hidden;
  padding-bottom: 55px;
}

.page-form__intro {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
}

.form__input {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 2px solid #000;
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent;
}

.form__input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input:valid {
  outline-color: var(--aquamarine);
}

.form__fieldset {
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 34px;
  border: none;
}

.form__fieldset::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 60px;
  height: 2px;
  width: 100%;
  background-color: var(--aquamarine);
}

.form__fieldset::after {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--aquamarine);
  font-weight: bold;
  font-size: 17px;
}

.form__fieldset--type,
.form__fieldset--color {
  display: grid;
  padding-bottom: 22px;
}

.form__fieldset--type label,
.form__fieldset--color label {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  cursor: pointer;
}

.form__fieldset--type span::before,
.form__fieldset--type span::after,
.form__fieldset--color span::before,
.form__fieldset--color span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
}

.form__fieldset--type span::before,
.form__fieldset--color span::before {
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid var(--outer-space);
}

.form__fieldset--type {
  padding-top: 33px;
}

.form__fieldset--type::after {
  content: "ТИП";
}

.form__fieldset--type span::before {
  border-radius: 50%;
}

.form__fieldset--type span::after {
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: var(--aquamarine);
  border-radius: 50%;
  opacity: 0;
}

.form__fieldset--color {
  padding-top: 43px;
}

.form__fieldset--color::after {
  content: "ЦВЕТ";
}

.form__fieldset--color span::after {
  top: 17px;
  left: 7px;
  width: 17px;
  height: 9px;
  border-left: 2px solid var(--outer-space);
  border-bottom: 2px solid var(--outer-space);
  opacity: 0;
  transform: rotate(-45deg);
  transition: opacity 0.1s ease-in-out;
}

.form__fieldset--initials::after {
  content: "ФИО";
}

.form__fieldset--initials .form__fieldset-wrapper:not(.form__fieldset-wrapper:last-child) {
  margin-bottom: 22px;
}

.form__fieldset--comment {
  margin-bottom: 10px;
}

.form__fieldset--comment::after {
  content: "ДОП";
}

.form__fieldset--phone {
  padding-top: 43px;
}

.form__fieldset--phone::after {
  content: "ТЕЛ";
}

.form__fieldset--mail {
  padding-top: 43px;
}

.form__fieldset--mail::after {
  content: "E-MAIL";
}

.form__bold-text {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: var(--black);
}

.form__description {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--outer-space);
  font-weight: normal;
}

.form__button {
  width: 100%;
}

textarea {
  resize: none;
  padding: 15px;
  width: 100%;
  height: 140px;
  border: 2px solid #000000;
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
}

textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    font-size: 17px;
  }

  .button:hover {
    color: var(--white);
    background-color: var(--outer-space);
  }

  .button:active {
    transition: all 0.1s ease;
    color: #797979;
    background-color: var(--outer-space);
  }

  .container {
    width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .title {
    font-size: 43px;
    line-height: 50px;
  }

  .title-sub-page {
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 50px;
  }

  .title-sub-page::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -15px;
    height: 30px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: contain;
  }

  .main-nav {
    position: relative;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #ffffff 90px, #f9f9f9 90px);
  }

  .main-nav::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 90px;
    height: 1px;
    background-color: var(--bright-gray);
    width: 100%;
  }

  .page-header--catalog .main-nav,
  .page-header--form .main-nav {
    background: linear-gradient(to bottom, #ffffff 90px, #f1f1f1 90px);
  }

  .main-nav__wrapper {
    position: relative;
  }

  .main-nav__list {
    display: grid;
    grid-template-areas: ". . search cart" "catalog order . .";
  }

  .main-nav__list-link {
    height: 90px;
    width: 100%;
    padding-left: 0;
    font-size: 15px;
  }

  .main-nav__list-item--catalog {
    grid-area: catalog;
    padding-right: 25px;
  }

  .main-nav__list-item--catalog .main-nav__list-link {
    height: 45px;
  }

  .main-nav__list-item--order {
    grid-area: order;
    padding-right: 25px;
  }

  .main-nav__list-item--order .main-nav__list-link {
    height: 45px;
  }

  .main-nav__list-item--search {
    grid-area: search;
    width: 85px;
    border-left: 1px solid var(--bright-gray);
    border-right: 1px solid var(--bright-gray);
  }

  .main-nav__list-item--search .main-nav__list-link {
    justify-content: center;
    width: 85px;
  }

  .main-nav__list-item--search svg {
    position: static;
  }

  .main-nav__list-item--search span {
    display: none;
  }

  .main-nav__list-item--cart {
    grid-area: cart;
    width: 270px;
  }

  .main-nav__list-item--cart .main-nav__list-link {
    font-size: 17px;
    justify-content: right;
  }

  .main-nav__list-item--cart svg {
    left: 33px;
  }

  .main-nav__logo {
    position: absolute;
    left: 45px;
  }

  .main-nav__logo-wrapper {
    height: 90px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__legend {
    position: absolute;
    right: 45px;
    bottom: 10px;
  }

  .site-intro {
    min-height: 690px;
    padding-top: 120px;
    background-image: url("../img/hero-tablet@2x.jpg");
    background-position: center -70px;
    background-size: auto 750px;
  }

  .site-intro__title {
    width: 500px;
    margin-bottom: 345px;
    font-size: 43px;
    line-height: 50px;
  }

  .site-intro__buttons {
    flex-direction: row;
  }

  .site-intro__button {
    position: relative;
    height: 120px;
    padding-left: 35px;
  }

  .site-intro__button::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 20px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-product {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .top-product::after {
    height: 15px;
  }

  .top-product__wrapper {
    position: relative;
  }

  .top-product__title-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .top-product__title {
    text-align: center;
  }

  .top-product__features-wrapper {
    width: 45%;
    margin-bottom: 65px;
  }

  .top-product__about {
    width: 85%;
  }

  .top-product__img-wrapper {
    right: 45px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }

  .top-product__buy {
    width: 45%;
  }

  .about-us {
    padding-top: 45px;
    padding-bottom: 80px;
  }

  .about-us__title {
    margin-bottom: 45px;
  }

  .about-us__list {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 60px;
  }

  .about-us__item {
    padding-top: 60px;
    font-size: 20px;
    line-height: 22px;
  }

  .reviews {
    padding-top: 0;
    padding-bottom: 70px;
  }

  .reviews::after {
    height: 15px;
  }

  .reviews__wrapper {
    position: relative;
    padding-top: 80px;
    background-image: url("../img/review@2x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .reviews__title {
    margin-bottom: 60px;
  }

  .reviews__text {
    margin-bottom: 65px;
  }

  .reviews__navigation {
    display: flex;
    justify-content: space-between;
  }

  .reviews__nickname-wrapper {
    font-size: 18px;
  }

  .reviews__buttons {
    margin-right: 12px;
  }

  .reviews__button {
    border: none;
    width: 80px;
  }

  .reviews__button svg {
    transition: transform 0.1s ease-in-out;
  }

  .reviews__button:hover svg {
    transform: scale(1.2);
  }

  .reviews__button:active svg {
    transition: 0.05s ease-in-out;
    opacity: 0.3;
  }

  .reviews__button-send {
    position: absolute;
    width: unset;
    top: 80px;
    right: 45px;
  }

  .contacts {
    padding-top: 0;
  }

  .contacts__address-wrapper {
    display: flex;
  }

  .contacts__mail {
    width: 50%;
  }

  .contacts__mail span {
    width: 20%;
  }

  .contacts__address {
    width: 50%;
  }

  .contacts__address span:last-child {
    width: 120%;
  }

  .contacts__title {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 47px 81px;
  }

  .contacts__button {
    width: unset;
  }

  .map__pin {
    left: 52.5%;
  }

  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 140px;
    align-items: center;
  }

  .footer__logo-wrapper {
    height: 80px;
  }

  .footer__logo-link {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .footer__contacts-link svg {
    transition: fill 0.1s ease-in-out;
  }

  .footer__contacts-link:hover svg {
    fill: var(--aquamarine);
  }

  .footer__creators-link {
    justify-content: right;
  }

  .footer__creators-link svg {
    transition: transform 0.1s ease-in-out;
  }

  .footer__creators-link:hover svg {
    transform: scale(1.2);
  }

  .footer__logo-link {
    align-items: center;
    width: 50%;
  }

  .footer__logo-link svg {
    transition: fill 0.1s ease-in-out;
  }

  .footer__logo-link:hover svg {
    fill: var(--aquamarine);
  }

  .footer__logo-link:active svg {
    opacity: 0.3;
  }

  .catalog {
    margin-bottom: 50px;
  }

  .catalog__item-title {
    font-size: 20px;
  }

  .catalog__item {
    display: flex;
  }

  .catalog__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog__item-description {
    margin-bottom: auto;
    font-size: 15px;
  }

  .form__fieldset {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 170px;
  }

  .form__fieldset::before {
    display: none;
  }

  .form__fieldset::after {
    top: 60px;
  }

  .page-form__intro {
    font-size: 17px;
    line-height: 30px;
  }

  .form__input {
    padding: 10px;
    font-size: 19px;
  }

  .form__bold-text {
    font-size: 19px;
  }

  .form__fieldset--type,
  .form__fieldset--color {
    grid-row-gap: 15px;
  }

  .form__fieldset--type label,
  .form__fieldset--color label {
    padding-left: 65px;
  }

  .form__fieldset--type label:hover span::before,
  .form__fieldset--color label:hover span::before {
    border: 2px solid var(--aquamarine);
  }

  .form__fieldset--type span::before,
  .form__fieldset--color span::before {
    width: 40px;
    height: 40px;
  }

  .form__fieldset--type span::after {
    width: 16px;
    height: 16px;
    left: 12px;
  }

  .form__fieldset--type span br {
    display: none;
  }

  .form__fieldset--color {
    overflow: visible;
    position: relative;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bright-gray);
  }

  .form__fieldset--color::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 200%;
    top: 0;
    left: -50%;
    background-color: var(--bright-gray);
  }

  .form__fieldset--color span::after {
    width: 25px;
    height: 10px;
    left: 8px;
  }

  .form__fieldset--mail,
  .form__fieldset--phone {
    overflow: visible;
    position: relative;
    background-color: var(--bright-gray);
  }

  .form__fieldset--mail::before,
  .form__fieldset--phone::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 200%;
    top: 0;
    left: -50%;
    background-color: var(--bright-gray);
  }

  .form__fieldset--mail .form__input,
  .form__fieldset--phone .form__input {
    padding-right: 50px;
  }

  .form__fieldset--mail svg,
  .form__fieldset--phone svg {
    display: block;
    position: absolute;
    right: 10px;
    opacity: 0.2;
  }

  .form__fieldset--phone {
    padding-bottom: 15px;
  }

  .form__fieldset--phone svg {
    bottom: 30px;
  }

  .form__fieldset--mail {
    padding-top: 15px;
  }

  .form__fieldset--mail::after {
    top: 25px;
  }

  .form__fieldset--mail svg {
    top: 20px;
  }

  .form__fieldset--initials .form__fieldset-wrapper {
    display: flex;
    align-items: center;
  }

  .form__fieldset--initials .form__fieldset-wrapper label {
    margin-right: 30px;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    order: -1;
  }

  .form__description {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  textarea {
    font-size: 19px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1250px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .title {
    font-size: 53px;
    line-height: 57px;
  }

  .title-sub-page {
    height: 200px;
    padding-bottom: 65px;
  }

  .main-nav__list {
    grid-template-columns: 185px 220px auto 85px 270px;
    grid-template-areas: "catalog order . search cart" "new sell . .  .";
  }

  .main-nav__list-item--catalog {
    padding-right: 0;
    border-right: 1px solid var(--bright-gray);
  }

  .main-nav__list-item--catalog .main-nav__list-link {
    height: 100%;
    font-size: 17px;
  }

  .main-nav__list-item--order {
    padding-right: 0;
    margin-left: 35px;
  }

  .main-nav__list-item--order .main-nav__list-link {
    height: 100%;
    font-size: 17px;
  }

  .main-nav__list-item--new {
    grid-area: new;
  }

  .main-nav__list-item--new .main-nav__list-link {
    height: 45px;
  }

  .main-nav__list-item--sell {
    grid-area: sell;
    margin-left: 35px;
  }

  .main-nav__list-item--sell .main-nav__list-link {
    height: 45px;
  }

  .main-nav__legend {
    right: 100px;
  }

  .main-nav__logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .site-intro {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: auto 770px;
  }

  .site-intro__title {
    width: 615px;
    margin-bottom: 340px;
  }

  .site-intro__button::after {
    bottom: -17px;
    height: 31px;
  }

  .top-product {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .top-product::after {
    height: 20px;
  }

  .top-product__img-wrapper {
    z-index: -1;
    right: 100px;
  }

  .top-product__title-wrapper {
    justify-content: start;
    margin-bottom: 60px;
  }

  .top-product__title {
    order: 0;
    margin-left: 50px;
    margin-right: 55px;
  }

  .top-product__features-wrapper {
    margin-bottom: 110px;
  }

  .top-product__features-wrapper,
  .top-product__buy {
    margin-left: 180px;
    width: 27%;
  }

  .top-product__about {
    width: 90%;
    margin-bottom: 60px;
  }

  .about-us {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .about-us__title {
    margin-left: 180px;
  }

  .about-us__list {
    margin-left: 180px;
    margin-right: 190px;
  }

  .reviews::after {
    height: 20px;
  }

  .reviews__wrapper {
    padding-bottom: 80px;
    background-position: 100px 0;
  }

  .reviews__title {
    margin-left: 180px;
  }

  .reviews__text {
    width: 75%;
    margin-left: 180px;
  }

  .reviews__navigation {
    margin-left: 180px;
  }

  .reviews__nickname-wrapper {
    margin-bottom: 0;
  }

  .reviews__buttons {
    margin-bottom: 0;
  }

  .reviews__button-send {
    right: 101px;
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts map" "button map";
    width: 1250px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__wrapper {
    grid-area: contacts;
    width: unset;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__map {
    grid-area: map;
    margin-bottom: 0;
  }

  .contacts__button {
    grid-area: button;
    align-self: end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 180px;
  }

  .contacts__title {
    padding-left: 180px;
    background-position: 10% 50%;
  }

  .contacts__address-wrapper {
    flex-direction: column;
    padding-left: 180px;
  }

  .contacts__mail {
    width: unset;
  }

  .contacts__address {
    width: unset;
  }

  .map {
    height: 100%;
  }

  .map__pin {
    left: 53.5%;
  }

  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }

  .catalog__item {
    flex-direction: column;
    transition: box-shadow 0.1s ease-in-out;
  }

  .catalog__item:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px;
  }

  .catalog__item-wrapper {
    flex-basis: 100%;
    border-top: none;
  }

  .catalog__item-price {
    margin-top: 50px;
  }

  .production__wrapper {
    display: grid;
    grid-template-columns: 680px 1fr;
    grid-template-areas: "video title" "video info";
  }

  .production__title {
    grid-area: title;
    padding-top: 100px;
    font-size: 20px;
    background-position: 90px 25%;
  }

  .production__movie-wrapper {
    grid-area: video;
  }

  .production__movie-button:hover svg {
    transform: scale(1.2);
  }

  .production__movie-button:active svg {
    transform: scale(0.8);
  }

  .production__info-wrapper {
    grid-area: info;
    padding-top: 0;
    padding-left: 90px;
    font-size: 15px;
  }

  .production__info-text {
    margin-bottom: 50px;
  }

  .production__info-button {
    width: 100%;
  }

  textarea:hover {
    border-color: var(--aquamarine);
  }

  .form__fieldset--color {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
  }

  .page-form__intro {
    padding-left: 270px;
    padding-right: 250px;
  }

  .form__input:hover {
    border-color: var(--aquamarine);
  }

  .form__input:hover + svg {
    fill: var(--aquamarine);
    opacity: 1;
  }
}

@media (max-width: 1249px) {
  .main-nav__list-item--hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-nav__wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__logo {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--white);
    border-bottom: 1px solid var(--bright-gray);
  }

  .main-nav__list {
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav__list--open {
    transform: translateY(0);
  }

  .main-nav__list--closed {
    transform: translateY(-2000px);
  }

  .main-nav__list-item {
    border-bottom: 1px solid var(--bright-gray);
  }

  .main-nav__legend {
    display: none;
  }

  main {
    top: 80px;
  }

  .site-intro .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    position: relative;
    top: 80px;
  }

  .footer__logo-wrapper {
    display: none;
  }

  .footer__contacts-list {
    border-bottom: 1px solid #e5e5e5;
  }

  .catalog__item-wrapper {
    border-top: none;
  }

  .form__fieldset--initials label {
    margin-bottom: 15px;
  }

  .form__input:focus {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form__fieldset--mail svg,
  .form__fieldset--phone svg {
    display: none;
  }
}

@media (max-width: 320px) {
  .top-product__title br {
    display: none;
  }
}

@media (min-width: 460px) and (max-width: 767px) {
  .site-intro__buttons {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .catalog__item {
    justify-content: center;
  }

  .catalog__item-img-link {
    width: 49%;
  }

  .catalog__item-wrapper {
    width: 50%;
    border-left: none;
  }

  .catalog__item-title {
    margin-bottom: 15px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__movie-wrapper {
    order: -1;
  }

  .production__title {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    background-position: 40px 50%;
  }

  .production__info-wrapper {
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px;
  }

  .production__info-text {
    margin-bottom: 40px;
  }

  .production__info-button {
    width: 100%;
  }
}