.map {
  position: relative;
  min-height: 370px;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  picture {
    justify-content: center;
    position: relative;
		z-index: -1;
  }
}

.map__pin {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-width: $tablet) {

  .map__pin {
    left: 52.5%;
  }
}

@media (min-width: $desktop) {

  .map {
    height: 100%;
  }

  .map__pin {
    left: 53.5%;
  }
}
