@font-face {
  font-weight: normal;
  font-family: 'Open-sans';
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: 'Open-sans';
  src:
    url('../fonts/opensansbold.woff2') format('woff2'),
    url('../fonts/opensansbold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
