:root {
  --dirty-white: #f1f1f1;
  --outer-space: #444444;
  --medium-aquamarine: #63d1bb;
  --aquamarine: #56c3b2;
}

$phone: 320px;
$phone-max: 766px;
$tablet: 767px;
$tablet-max: 1249px;
$desktop: 1250px;

$phone-padding: 30px;
$tablet-padding: 50px;
$desktop-padding: 100px;
